.card{
    text-align: center;
}
.btn{
    margin-bottom: 10px;
}
#copyme{
    background-color: #313131;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(31, 30, 30) inset;
    font-size: 30px;
}
