<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/estilo.css') }}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/pass.css') }}" media="screen" />
    <title>Generador</title>
</head>

<body>
    <br />
    <div class="container">
        <form method="post" action="/generate" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    Contraseña generada exitosamente
                </div>
                <div class="card_body">
                    
                    <p class="card-text">
                    <div class="form-group">
                        <p id="copyme" for="txtPass">{{password}}</p>
                    </div>
                    <div class="form-group">
                        <a class="btn" href="{{url_for('index')}}">
                            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                                <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                                <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />                           
                            </svg>
                            <span> Regresar</span>
                        </a>
                        <a class="btn" onClick = "clip_div('copyme')">
                            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
                                <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                                <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />                            
                            </svg>
                            <span>Copiar</span>
                        </a>
                    </div>
                    </p>
                </div>
                <div class="card-footer">
                    <p>Developed by <a href="https://github.com/isaacv4071" target="_blank" rel="github">@isaacv4071</a></p>
                    <p> &#169 Copyrigtht</p>
                    <p>Desing by <a href="https://github.com/JoseGonzalez-git" target="_blank" rel="github"> @JoseGonzalez-git</a></p>   
                </div>
            </div>
        </form>
    </div>
</body>
<script src={{ url_for('static', filename='js/Copy.js') }}></script>
</html>
